.box {
  width: 100%;
  height: 100%;
  padding: $spacer-medium $spacer-medium;

  &--black {
    background-color: $color-black;
    color: $color-white;
  }

  &--dark {
    background-color: $color-grey-dark;
    color: $color-white;
  }

  &--light {
    background-color: $color-grey-light;
    background-image: linear-gradient(
      to right top,
      $color-grey-light,
      $color-white
    );
    background-size: 300%;
    color: $color-grey-dark;
  }
}
