.tag-group {
  &__tag {
    display: inline-block;
    font-family: $font-heading;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 0.6rem 0.8rem;
    margin-top: 0.6rem;

    &--light {
      color: $color-grey-dark;
      background-color: $color-grey-light;
    }

    &--yellow {
      color: $color-grey-dark;
      background-color: $color-yellow;
    }

    &--blue {
      color: $color-white;
      background-color: $color-blue;
    }

    &--card {
      color: $color-white;
      background-color: rgba($color-black, 0.5);
    }

    @include for-tablet-portrait-up {
      font-size: 1.2rem;
    }
  }
}
