body {
  font-size: 1.6rem;
  font-family: $font-body;
  font-weight: 400;
  color: $color-black;
}

p {
  line-height: 2.3rem;
}

a:link,
a:visited {
  color: $color-black;
}

h1,
h2,
h3 {
  font-family: $font-heading;
}
