// COLORS
// =======
$color-white: #fafafa;
$color-grey-light: #eee;
$color-grey-medium: #bbb;
$color-grey-dark: #424242;
$color-black: #212121;

$color-red: #ef5350;
$color-orange: #ff9800;
$color-yellow: #fdd835;
$color-green: #66bb6a;
$color-blue: #2196f3;
$color-purple: #ab47bc;

$color-primary: $color-black;
$color-secondary: $color-grey-dark;

// TYPOGRAPHY
// ===========
$font-heading: 'Muli', 'Montserrat', sans-serif;
$font-body: 'Roboto', 'Arial', sans-serif;

// LAYOUT
// =======
// Structure
$container-width: 80rem;

// Spacers
$spacer-small: 1.2rem;
$spacer-medium: 2.4rem;
$spacer-large: 3.6rem;
$spacer-huge: 4.8rem;

// Float grid
$gutter-horizontal: $spacer-medium;
