// COLORS
$color-white: #fafafa;
$color-grey-light: #eee;
$color-grey-medium: #e0e0e0;
$color-black: #212121;

// LAYOUT
// Spacers
$spacer-small: 1.2rem;
$spacer-medium: 2rem;
$spacer-large: 3.2rem;

// Float grid
$gutter-horizontal: $spacer-small;
